{% block app_content %}
<div class="container col-md-4">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Ticket</h3>
  </div>
  <div class="panel-body">
    Ticket content
  </div>
      <div class="panel-body">
    Ticket content
  </div>
      <div class="panel-body">
    Ticket content
  </div>
      <div class="panel-body">
    Ticket content
  </div>
    <p><a type="button" class="btn btn-danger" href="{{ url_for('index') }}">Revoke ticket</a></p>
</div>
</div>
{% endblock %}